// COLORS VARIABLES
$primary-color: rgba(255, 96, 96, 1);
$secondary-color: rgba(246, 246, 246, 1);


// POLICES VARIABLES
$font-family: 'Montserrat', sans-serif;

// MEDIA QUERIES VARIABLES
$breakpoints: (
    mobile: 599px,
); 