@import "../../style/utils/variables";
@import "../../style/utils/mixins";


.home__content {
    max-width: 1240px;
    margin: 0 auto;
    @include mobile-only {
        padding: 0 20px;
    }
    @include pagePresentationImg("../../assets/Image_source_1.png");
}

.lctContainer {
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    background-color:  $secondary-color;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    box-sizing: border-box;
    width: 100%;
    @include mobile-only {
        background-color: white;
        margin: 0;
        gap: 22px;
        padding: 20px 0px 5px 0px;
        flex-direction: column;
    }
}