@import "../../style/utils/variables";
@import "../../style/utils/mixins";

.collapse, .collapseOpen {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    img {
        transform: rotate(0);
        transition: 300ms ease-in-out;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.collapse {
    height: 52px;   
    animation: closing 400ms both ease-in-out;
    animation-delay: 000ms;
}

.collapseOpen {
    height: auto;
    animation: opening 400ms both ease-in;
    animation-delay: 000ms;
    animation-fill-mode: backwards;
}

input {
    z-index: 1;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 50px;
    height: 32px;
    width: 32px;
    &:checked + .detailsContainer {
        transform: scale(1);
    }
    &:not(:checked) + .detailsContainer p {
        opacity: 0;
    }
}

.labelContainer {
    background-color: $primary-color;
    box-sizing: border-box;
    padding: 12px 15px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: white;
    border-radius: 5px;    
}

.detailsContainer {
    padding: 20px;
    background-color: $secondary-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    color: $primary-color;
    line-height: 25.67px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 300ms ease-in-out;
    p {
        opacity: 1;
        transition: 200ms;
    }
}

@keyframes opening {
    0% {
        height: 52px; 
    }
    100% {
        height: 150px;
    }
}

@keyframes closing {
    0% {
        height: 100px; 
    }
    100% {
        height: 52px;
    }
}